
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*cpython-314-pytest-*

# Virtual environments
venv/
.env/

# IDE settings
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

#allure
allure-*
